<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349564581597-knk9as204jsvhv6hfrjaus3150hckp3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349564581597-knk9as204jsvhv6hfrjaus3150hckp3j</string>
	<key>API_KEY</key>
	<string>AIzaSyAhUDlyWWXLr_y83j3fnP9E3FNLiPPYkHU</string>
	<key>GCM_SENDER_ID</key>
	<string>349564581597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emaartechnologies.iConnectStage</string>
	<key>PROJECT_ID</key>
	<string>iconnect-staging-c6de0</string>
	<key>STORAGE_BUCKET</key>
	<string>iconnect-staging-c6de0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349564581597:ios:6f4456bd189b31b0834d34</string>
	<key>DATABASE_URL</key>
	<string>https://iconnect-staging-c6de0.firebaseio.com</string>
</dict>
</plist>